div > *:nth-child(1) { background-color: orange;}
div > *:nth-child(2) { background-color: rgb(255, 123, 0);}
div > *:nth-child(3) { background-color: red;}    
div > *:nth-child(4) { background-color: rgb(122, 3, 3);}

div.inline > * {
    display: inline;
}

div.block > * {
    display: block;
}

div.inline-block > * {
    display: inline-block;
    width: 50px;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden; /*hidden, visible */
}

.opacity-0 {
    opacity: 0; /* 0 a 1 */
}   

