div > *:nth-child(1) { background-color: orange;}
div > *:nth-child(2) { background-color: rgb(255, 123, 0);}
div > *:nth-child(3) { background-color: red;}    
div > *:nth-child(4) { background-color: rgb(122, 3, 3);}

div.inline > * {
    display: inline;
}

div.block > * {
    display: block;
}

div.inline-block > * {
    display: inline-block;
    width: 50px;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden; /*hidden, visible */
}

.opacity-0 {
    opacity: 0; /* 0 a 1 */
}   

.flex {
    display: flex;
    background-color: lightpink;
}

    .justify-start { justify-content: flex-start;}
    .justify-center: { justify-center; } /* flex-start, flex-end, center, space-between, space-around, space-evenly */
    .justify-end { justify-content: flex-end;}
    .justify-evenly { justify-content: space-evenly;}
    .justify-around { justify-content: space-around;} 
    .justify-between { justify-content: space-between;}
}

.direction-reverse {
    flex-direction: row-reverse; /* row, row-reverse, column, column-reverse */
}

.align-start {
    align-items: flex-start; /* flex-start, flex-end, center, stretch, baseline */
}
.align-center {
    align-items: center; /* flex-start, flex-end, center, stretch, baseline */
}
.align-end {
    align-items: flex-end; /* flex-start, flex-end, center, stretch, baseline */
}
.align-stretch {
    align-items: stretch; /* flex-start, flex-end, center, stretch, baseline */
}
