div > *:nth-child(1) { background-color: orange;}
div > *:nth-child(2) { background-color: rgb(255, 123, 0);}
div > *:nth-child(3) { background-color: red;}    
div > *:nth-child(4) { background-color: rgb(122, 3, 3);}

div.inline > * {
    display: inline;
}

div.block > * {
    display: block;
}

div.inline-block > * {
    display: inline-block;
    width: 50px;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden; /*hidden, visible */
}

.opacity-0 {
    opacity: 0; /* 0 a 1 */
}   

.flex {
    display: flex;
    flex-direction: row; /* row, row-reverse, column, column-reverse */
    justify-content: center; /* flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items: center; /* flex-start, flex-end, center, stretch, baseline */
    gap: 10px; /* spazio tra gli elementi */
}