/* 
Es 1 - Colora di rosso tutti gli span
*/
span {
    color: red;
}

/* 
Es 2 - Colora di blu tutti gli span contenuti all'interno di un paragrafo
*/
p span {
    color: blue;
}

/* 
Es 3 - Colora di verde un elemento span class="classe-1"
*/
div#sezione-1 > p.classe-1 span.classe-1 {
    color: green;
}

/* 
Es 4 - Colora di viola p class="classe-1" all'interno di div id="sezione-2"
*/
.sezione-2 .classe-1 {
    color: purple;
}

/* 
Es 5 - Colora di giallo solo quando l'utente ci mette il mouse sopra
*/
a:hover {
    color: yellow;
}

/* 
Es 6 - Colora di arancione un paragrafo solo quando l'utente ci mette il mouse sopra
*/
div#sezione-1 p.classe-2:hover {
    color: orange;
}

/*
Es 7 - Colora di rosa il primo paragrafo figlio di sezione-2
*/  
.sezione-2 > p:not(.classe-1) {
    color: pink;
}
.sezione-2 > p:first-child {
    color: pink;
}

/* 
Es 8 - Ennesimo figlio (n) - 2n figli pari; 2n + 1 figli dispari :odd dispari :even pari
*/
.sezione-2 > p:nth-child(2n) {
    color: brown;
}

/* - Colora ogni elemento di una lista di un colore diverso */
 li:nth-child(1) {
    color: yellow;
}
 li:nth-child(2) {
    color: green;
}
li:nth-child(3) {
    color: red;
}
li:nth-child(4) {
    color: green;   
}   
li:nth-child(5) {
    color: red;
}   

li:nth-child(1), li:nth-child(3), li:nth-child(5){
    color: yellow;
}
