/* tutti i paragrafi colorati di blu */
p {
    color: blue;
}

/* Tutti gli elementi che hanno la classe "testo-rosso" */
.testo-rosso {
    color: red;
}

/* L'elemento con l'id "sezione-2" */
#sezione-2 {
    color: purple;
}

/* Tutti gli elementi di tipo "a" che hanno la classe "testo-rosso" */
a.testo-rosso {
    color: brown;

/* Tutti gli elementi di tipo "a" che hanno sia la classe "testo-rosso" che la classe "testo-marrone" */
a.testo-rosso.testo-marrone {
        color: darkred;
    }

/* Tutti gli elementi di tipo A racchiusi all'interno di un elemento con classe "testo-principale" */
p.testo-principale a {
        color: rgb(238, 255, 0);
    }
    
/* Tutti gli elementi figli di un paragrafo */
p > * {
    color: lightgray;
}
    
/* Colori */
p  {
    color: #63ffff;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif
    font-size: 1.5em;
    text-decoration: underline; /* none, underline, overline, line-through */
    text-align: justify; /* left, right, center, justify *
    text-transform: capitalize; /* none, capitalize, uppercase, lowercase */


}

p span {
     font-size: 1.5rem;
     font-weight: bold; /* normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900 */
     font-style: italic; /* normal, italic, oblique */
}

ul  {
    list-style-type: square; /* none, disc, circle, square, decimal, lower-alpha, upper-alpha, lower-roman, upper-roman */ anche image
}

body {
    background-color: pink;

}

div#spazi {
    background-color: lightsalmon;
    margin: 12px; /* top right bottom left */
    padding: 15px;
    border: solid red 3px; /* stile bordo: none, solid, dashed, dotted, double, groove, ridge, inset, outset */
}


div#spazi-2 {
    background-color: lightgreen;
   h1 { margin-bottom: 50px; } /* tra h1 e h2 ci saranno 50px di differenza */
   h2 { margin-top: 30px; }
}