/* tutti i paragrafi colorati di blu */
p {
    color: blue;
}

/* Tutti gli elementi che hanno la classe "testo-rosso" */
.testo-rosso {
    color: red;
}

/* L'elemento con l'id "sezione-2" */
#sezione-2 {
    color: purple;
}

/* Tutti gli elementi di tipo "a" che hanno la classe "testo-rosso" */
a.testo-rosso {
    color: brown;

/* Tutti gli elementi di tipo "a" che hanno sia la classe "testo-rosso" che la classe "testo-marrone" */
a.testo-rosso.testo-marrone {
        color: darkred;
    }

/* Tutti gli elementi di tipo A racchiusi all'interno di un elemento con classe "testo-principale" */
p.testo-principale a {
        color: rgb(238, 255, 0);
    }
    
/* Tutti gli elementi figli di un paragrafo */
p > * {
    color: lightgray;
}
    
/* Colori */
p  {
    color: #63ffff;
    background-color: blueviolet;
    font-family: Ubuntu;
    
}